<emails flex>
  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Messages Sent</span>
    </div>
  </md-toolbar>

  <md-content>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="email in emailService.getEmails()">
        <div class="md-list-item-text" layout="column">
          <p>{{ email.timestamp | date:"MM/dd/yyyy 'at' h:mma" }}</p>
          <h3><strong>From: </strong>{{ email.sender_first_name }} {{ email.sender_last_name }}</h3></span>
          <h3><strong>To: </strong>{{ email.recipient }}</h3></span>
          <h4>{{ email.message }}</h4>
        </div>
      </md-list-item>
    </md-list>
  <md-content>
</emails>
