<form name="loginForm" layout="row" layout-align="center center" ng-submit="submitLoginForm(loginForm)" novalidate>
  <md-content layout="column">
    <md-input-container>
      <label>Email</label>
      <input name="email" ng-model="email" placeholder="Email Address" required/>
    </md-input-container><br/>
    <md-input-container>
      <label>Password</label>
      <input name="password" ng-model="password" placeholder="Password" type="password" required/>
    </md-input-container><br/>
    <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid">Login</md-button>
  </md-content>
</form>
