<div getMessages flex>
  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Messages Sent</span>
    </div>
  </md-toolbar>

  <md-content>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="msg in messages">
        <div class="md-list-item-text" layout="column">
          <p>{{ msg.timestamp | date:"MM/dd/yyyy 'at' h:mma" }}</p>
          <h3><strong>From:&nbsp;&nbsp;</strong>{{ msg.sender_first_name }} {{ msg.sender_last_name }}</h3></span>
          <h3><strong>To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ msg.recipient }}</h3></span>
          <h4>{{ msg.message }}</h4>
        </div>
      </md-list-item>
    </md-list>
  <md-content>
</div>
